@page "{id}"
@model task1.Pages.Trains.DeleteModel
@{
}

<h1>Delete train @Model.Train.TrainId</h1>
<form method="post">
    <button type="submit">Yes</button>
    <a asp-page="/Trains/Trains">No</a>
</form>